{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.
{shell, [{config, "config/kafe.config"}]}.

{plugins, [
           {rebar3_elixir, "~> 0.0.8"},
           rebar3_hex,
           {rebar3_lint, {git, "https://github.com/botsunit/rebar3_lint.git", {branch, "master"}}}
          ]}.

{elixir_bindings, [
                   {kafe, [{except, [start_link
                                     , init
                                     , handle_call
                                     , handle_cast
                                     , handle_info
                                     , terminate
                                     , code_change
                                     , first_broker
                                     , release_broker
                                     , broker_id_by_topic_and_partition
                                     , broker_by_name
                                     , broker_by_host_and_port
                                     , broker_by_id
                                     , topics
                                     , partitions
                                     , max_offset
                                     , partition_for_offset
                                     , api_version
                                     , number_of_brokers
                                     , state]}]},
                   {kafe_consumer, [{except, [start_link
                                              , init
                                              , can_fetch
                                              , store_for_commit
                                              , encode_group_commit_identifier
                                              , decode_group_commit_identifier]}]},
                   {kafe_consumer_subscriber, [{except, [start_link,
                                                         init,
                                                         handle_call,
                                                         handle_cast,
                                                         handle_info,
                                                         terminate,
                                                         code_change]}]}

                   ]}.

{elixir_records, [
                  {'Kafe.Records', [{message, "kafe/include/kafe_consumer.hrl"}]}
                 ]}.

{deps, [
  {lager, "~> 3.2.0"},
  {bucs, "~> 0.1.9"},
  {doteki, "~> 0.1.13"},
  % {poolgirl, "~> 0.1.4"},
  {poolgirl, {git, "https://github.com/botsunit/poolgirl.git", {branch, "master"}}},
  {bristow, "~> 0.1.1"},
  % {metrics, "~> 2.1.0"}
  {metrics, {git, "https://github.com/botsunit/erlang-metrics.git", {branch, "add_delete"}}}
 ]}.


{eunit_opts, [
              verbose, {report, {eunit_surefire, [{dir, "test/eunit"}]}}
             ]}.
{pre_hooks, [{eunit, "mkdir -p test/eunit"}]}.

{profiles, [
            {test, [
                    {deps, [meck]}
                   ]},
            {dev_metrics, [
                   {deps, [
                           {folsom, "~> 0.8.3"},
                           {xprof, ".*", {git, "https://github.com/mniec/xprof.git"}}
                          ]}
                  ]},
            {doc, [
                   {deps, [
                           {edown, {git, "https://github.com/botsunit/edown.git", {branch, "master"}}}
                          ]},
                   {edoc_opts, [
                                {doclet, edown_doclet}
                                , {app_default, "http://www.erlang.org/doc/man"}
                                , {source_path, ["src"]}
                                , {overview, "overview.edoc"}
                                , {stylesheet, ""}
                                , {image, ""}
                                , {top_level_readme, {"./README.md", "https://github.com/botsunit/kafe"}}
                               ]}
                   ]},
            {release, [
                       {elvis, [
                        #{dirs => ["."],
                          filter => "rebar.config",
                          rules => [{elvis_project, no_deps_master_rebar, []}]}]}
                      ]}
           ]}.

{elvis,
   [#{dirs => ["src", "test"],
      filter => "*.erl",
      rules => [{elvis_style, line_length, #{limit => 180}},
                {elvis_style, no_tabs},
                {elvis_style, no_trailing_whitespace},
                {elvis_style, macro_names},
                {elvis_style, macro_module_names},
                {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
                {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                           {right, "++"},
                                                           {left, "++"}]}}]}]}.
