{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.
{shell, [
  {config, "config/kafe.config"},
  {apps, [kafe]}
]}.

{plugins, [
           {rebar3_elixir, "~> 0.2.3"},
           rebar3_hex,
           rebar3_lint
          ]}.

{elixir_bindings, [
                   {kafe, [{except, [topics
                                     , partitions
                                     , max_offset
                                     , partition_for_offset
                                     , api_version
                                     , number_of_brokers
                                     , update_brokers]}]},
                   {kafe_consumer, [{except, [start_link
                                              , init
                                              , can_fetch]}]},
                   {kafe_consumer_subscriber, [{except, [start_link,
                                                         init,
                                                         handle_call,
                                                         handle_cast,
                                                         handle_info,
                                                         terminate,
                                                         code_change]}]}

                   ]}.

{elixir_records, [
                  {'Kafe.Records', [{message, "kafe/include/kafe_consumer.hrl"}]}
                 ]}.

{deps, [
  {lager, "~> 3.6.2"},
  {bucs, "~> 1.0.15"},
  {doteki, "~> 1.0.6"},
  {poolgirl, "~> 1.2.0"},
  {bristow, "~> 0.2.2"}
 ]}.

{eunit_opts, [no_tty, {report, {unite_compact, [profile]}}]}.
{cover_enabled, true}.

% Disable auto-adding of cth_readable_* to better control init order
{ct_readable, false}.

{ct_opts, [
  {sys_config, "config/kafe-ct.config"},
  {ct_hooks, [cth_readable_failonly, cth_readable_shell, kafe_test_cluster]}
]}.

{profiles, [
            {test, [
                    {plugins, [{pc, "1.8.0"}]},
                    {deps, [
                            {meck, "~> 0.8.8"},
                            {unite, "~> 0.3.0"},
                            {erlexec, "~> 1.7.1"}
                           ]}
                   ]},
            {dev_metrics, [
                   {deps, [
                           {folsom, "~> 0.8.3"},
                           {metrics, "~> 2.4.0"},
                           {xprof, ".*", {git, "https://github.com/mniec/xprof.git"}}
                          ]}
                  ]},
            {docs, [
                    {deps, [
                            {edown, {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
                           ]},
                    {edoc_opts, [
                                 {doclet, edown_doclet}
                                 , {app_default, "http://www.erlang.org/doc/man"}
                                 , {source_path, ["src"]}
                                 , {overview, "overview.edoc"}
                                 , {stylesheet, ""}
                                 , {image, ""}
                                 , {top_level_readme, {"./README.md", "https://github.com/G-Corp/kafe"}}
                                ]}
                   ]},
            {release, [
                       {elvis, [
                        #{dirs => ["."],
                          filter => "rebar.config",
                          rules => [{elvis_project, no_deps_master_rebar, []}]}]}
                      ]}
           ]}.

{elvis,
   [
    #{dirs => ["src"],
      filter => "*.erl",
      rules => [{elvis_style, line_length, #{limit => 180}},
                {elvis_style, no_tabs},
                {elvis_style, no_trailing_whitespace},
                {elvis_style, macro_names},
                {elvis_style, macro_module_names},
                {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
                {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                           {right, "++"},
                                                           {left, "++"}]}}]},
    #{dirs => ["test"],
      filter => "*.erl",
      rules => [{elvis_style, line_length, #{limit => 180}},
                {elvis_style, no_tabs},
                {elvis_style, no_trailing_whitespace},
                {elvis_style, macro_names},
                {elvis_style, macro_module_names},
                {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                           {right, "++"},
                                                           {left, "++"}]}}]}
   ]}.

{xref_warnings, false}.
{xref_extra_paths, []}.
{xref_ignores, [{metrics, backend, 0}, {metrics, new, 2}, {metrics, update, 2}, {metrics, delete, 1}]}.
{xref_checks, [undefined_function_calls
               , undefined_functions
               , locals_not_used
%               , exports_not_used
               , deprecated_function_calls
               , deprecated_functions]}.

{dialyzer, [{plt_prefix, "kafe"}]}.
