[
  {kafe, [
    {brokers, [
      {"localhost", 9092}
      % , {"localhost", 9093}
      % , {"localhost", 9094}
    ]},
    {pool_size, 1},
    {chunk_pool_size, 2},
    {brokers_update_frequency, 10000},
    {protocol_timeout, 60000},
    {client_id, <<"kafe">>},
    {api_version, auto},
    % {api_version, 0},
    {correlation_id, 0},
    {socket, [
      {sndbuf, 4194304},
      {recbuf, 4194304},
      {buffer, 4194304}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, info}, {formatter, lager_default_formatter}, {formatter_config, [date, " ", time, " [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/kafe_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/kafe_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/kafe_console.log"}, {level, info}]}
    ]}
  ]}
].
