[
  {kafe, [
    {brokers, [
      %{"glxps", 9092}
      {"kafka1-paris.finexkap.paris", 9092}
      %, {"kafka2-paris.finexkap.paris", 9092}
      %, {"kafka3-paris.finexkap.paris", 9092}
    ]},
    % {brokers_update_frequency, 10000},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "log/kafe_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/kafe_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/kafe_console.log"}, {level, info}]}
    ]}
  ]}
].
