[
  {kafe, [
    {brokers, [
      {"127.0.0.1", 9091}
    ]},
    {host, "127.0.0.1"},
    {port, 9091},
    % {brokers_update_frequency, 10000},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/kafe_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/kafe_console.log"}, {level, info}]}
    ]}
  ]}
].
